@mixin h1($color: $textColor) {
	font-size: 2.4rem;
	color: $color;
	font-family: $secondFont;
	font-weight: 900;
	line-height: 120%;

	@media ($tablet) {
		font-size: 3rem;
	}
	@media ($desktop) {
		font-size: 5.8rem;
	}
}
@mixin h2($color: $textColor, $align: left) {
	font-size: 1.8rem;
	color: $color;
	font-family: $secondFont;
	font-weight: 900;
	line-height: 120%;
	text-align: $align;

	@media ($tablet) {
		font-size: 2.5rem;
	}
	@media ($desktop) {
		font-size: 3.6rem;
	}
}
@mixin h3($color: $textColor, $align: left) {
	font-size: 2rem;
	color: $color;
	font-family: $secondFont;
	font-weight: 700;
	line-height: 120%;
	text-align: $align;

	@media ($tablet) {
		font-size: 2.4rem;
	}
	@media ($desktop) {
		font-size: 2.4rem;
		line-height: 28px;
	}
}
@mixin h4($color: $textColor, $align: left) {
	font-size: 1.4rem;
	color: $color;
	font-family: $secondFont;
	font-weight: 400;
	line-height: 21px;
	text-align: $align;

	@media ($tablet) {
		font-size: 1.6rem;
	}
	@media ($desktop) {
		font-size: 1.8rem;
		line-height: 27px;
	}
}
@mixin p($color: $textColor, $font: $mainFont) {
	font-size: 1.4rem;
	line-height: 150%;
	font-weight: 400;  
	color: $color;
	font-family: $font;
	margin-bottom: 1.5rem;
	@media ($tablet) {
		font-size: 1.8rem;
	}
}

@mixin service($width: 288px, $bg: #f9f9f9, $br: 10px 10px 0 0) {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $width;
	border-radius: $br;
	background-color: $bg;
	overflow: hidden;
	margin-bottom: 2rem;
	@media ($tablet) {
		max-width: 290px;
	}
}
@mixin coast() {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
@mixin linkreset(){
	text-decoration: none;
	font-family: $mainFont;
	color: inherit;
	font-size: inherit;
}

@mixin wrap(){
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

%btn {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 20px;
	font-family: $secondFont;
	font-size: 1.4rem;
	font-weight: bold;
	background: linear-gradient(180deg, $mainColor 0%, #f57b0b 166.25%);
	border-radius: 15px;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	text-decoration: none;
	color: $textColor;
	outline: none;
	border: none;

	&:hover {
		background: linear-gradient(180deg, $mainColor -82.95%, #f57b0b 76.69%);
		color: $secTextColor;
	}
	&:active {
		background: linear-gradient(180deg, $mainColor -82.95%, #f57b0b 76.69%);
		color: $secTextColor;
	}
}
