//FONTS

$mainFont: "Raleway";
$secondFont: "RobotoSlab";

//COLORS
$mainColor: #f5de0b;
$secondColor: #ff0000;
$thirdColor: #f57e0b;

$textColor: #000000;
$secTextColor: #ffffff;

$bgColorOne: #ffffff;
$bgColorTwo: #ffffff;
$bgTable: #E9F1F3;

//SCREENS
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";

//WIDTHS
$maxwidth: 1920px;
$minwidth: 320px;
$maxwidthContainer: 1280px;
