//FONTS

$mainFont: "Raleway";
$secondFont: "RobotoSlab";

//COLORS
$mainColor: #F5DE0B;
$secondColor: #FF0000;
$thirdColor: #F57E0B;

$textColor: #000000;
$secTextColor: #ffffff;

$bgColorOne: #ffffff;
$bgColorTwo: #ffffff;

//SCREENS
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1280px';