.check {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	list-style: none;

	&__item {
		display: flex;
		justify-content: start;
		align-items: flex-start;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}

		img {
			display: block;
			margin-top: 3.5px;
		}
	}
	&__item-text {
		@include p();
		margin-bottom: 0;
		margin-left: 10px;
	}
}
