.coast {
	@include coast();
	height: 37px;

	@media ($tablet) {
		display: inline-flex;
		flex-direction: column;
		border-radius: 15px;
		margin-right: 10px;
		height: auto;
	}
	// .coast__top
	&__top {
		@include h3($align: center);
		font-size: 14px;
		font-family: $mainFont;
		line-height: 37px;
		background-color: $mainColor;
		flex-basis: 50%;

		@media ($tablet) {
			padding: 10px 20px;
			line-height: 21px;
		}
	}
	// .coast__bottom
	&__bottom {
		@include h4($align: center);
		font-weight: normal;
		font-family: $mainFont;
		background-color: #e9f1f3;
		width: 100%;
		flex-basis: 50%;

		@media ($tablet) {
			font-weight: bold;
			padding: 20px 0;
		}
	}

	&:last-child {
		@media ($tablet) {
			margin-right: 0;
		}
	}
}
