.sale {
	width: 100%;
	// max-width: 288px;
	height: 37px;
	background: $mainColor;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 120%;
	font-family: $mainFont;
	font-weight: bold;
	@media ($tablet) {
		// display: inline;
		// width: 172px;
		font-size: 18px;
		height: 42px;
		flex: 0 0 172px;
	}
}
