.coast {
	@include coast();
		// .coast__top
		&__top {
			@include h3();
			font-size: 14px;
			background-color: $mainColor;
			
			@media ($tablet) {
				padding: 10px 20px;
			}
		}
		// .coast__bottom
		&__bottom {
			@include h4($align: center);
			font-weight: normal;
			background-color: #E9F1F3;
			width: 100%;
			
			@media ($tablet) {
				font-weight: bold;
				padding: 20px 0;
			}
		}
}
