.cases {
	position: relative;
	z-index: 5;
	// .cases__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 20px 0;

		@media (min-width: 1280px) {
			justify-content: flex-start;
		}
	}
	&__content-case {
		@media ($tablet) {
			margin: 0 0 40px 0;
		}
		@media (min-width: 1280px) {
			margin: 0 22px 40px 0;
		}
	}
}
