.cases {
	position: relative;
	z-index: 5;
	// .cases__content
	&__content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-top: 60px;

		@media ($desktop) {
			justify-content: flex-start;
			padding-bottom: 30px;
		}

		&_dop {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			@media ($desktop) {
				display: flex;
				justify-content: flex-start;
			}


			&-1 .cases__content-case{
				@media ($desktop) {
				margin-bottom: 0;
			}
			}
		}
	}
	&__content-case {
		
		@media ($desktop) {
			margin: 0 29px 40px 0;
		}
		
	}
}
