.contacts {
	margin-bottom: 40px;
	
	@media ($desktop) {
		position: relative;
		margin-bottom: 80px;
	}
	
	// .contacts__content
	&__content {
		
		@media ($desktop) {
			display: flex;
			flex-direction: row;
			position: relative;
		}
	}
	
	// .contacts__caption
	&__caption {
		@include h2();
		margin-bottom: 15px;

		@media (min-width: 768px) and(max-width:1023px) {
			text-align: center;
		}
		@media ($desktop) {
			margin-bottom: 0;
		}
	}
	// .contacts__texts
	&__texts {
		@include h4();
		font-family: $mainFont;
		margin-top: 15px;
		@media (min-width: 768px) and(max-width:1023px) {
			text-align: center;
		}
		@media ($desktop) {
			width: 491px;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}
	// .contacts__btn
	&__btn {
		@media ($tablet) {
			width: 100%;
		}
		@media ($desktop) {
			width: 491px;
		}
	}
	// .contacts__position
	&__position {
		@include h4();
		font-family: $mainFont;
		margin-top: 15px;

		a {
			@include linkreset();
		}
		@media (min-width: 768px) and(max-width:1023px) {
			text-align: center;
		}
		@media ($desktop) {
			position: absolute;
			bottom: -50px;
			left: 510px;
			margin-top: 0;
		}
	}
	// .contacts__foto
	&__foto {
		align-self: center;

		@media ($desktop) {
			align-self: auto;
		}
		img {
			width: 100%;
			object-fit: cover;
			@media (min-width: 768px) and(max-width:1023px) {
				width: 65%;
				margin: 0 auto;
				display: block;
			}
			@media ($desktop) {
				width: auto;
			}
		}
	}
	// .contacts__purchases
	&__purchases {
		margin-top: 30px;

		@media ($desktop) {
			margin-top: 60px;
		}
		a {
			@include linkreset();
		}
	}
}
.purchases {
	// .purchases__caption
	&__caption {
		@include h2();
		@media (min-width: 768px) and(max-width:1023px) {
			text-align: center;
		}
	}
	// .purchases__text
	&__text {
		@include h4();
		font-family: $mainFont;
		
		margin-top: 10px;
		@media (min-width: 768px) and(max-width:1023px) {
			text-align: center;
		}
		@media ($desktop) {
			margin-top: 30px;
		}
	}
}
.btn_cont {
	@media (max-width: 1023.9px) and (min-width: 768px) {
		width: 100%;
	}
}
p#contacts-link{
	margin-top: 80px;
}