.contacts {
	@media ($desktop) {
		margin-bottom: 80px;
	}
	// .contacts__content
	&__content {
		display: flex;
		flex-direction: column-reverse;

		@media ($desktop) {
			display: flex;
			position: relative;
		}
	}
	// .contacts__discription
	&__discription {
	}
	// .contacts__caption
	&__caption {
		@include h2();
	}
	// .contacts__texts
	&__texts {
		@include h4();

		@media ($desktop) {
			width: 491px;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}
	// .contacts__btn
	&__btn {
		@media ($tablet) {
			width: 100%;
		}
		@media ($desktop) {
			width: 491px;
		}
	}
	// .contacts__position
	&__position {
		@include h4();

		a {
			@include linkreset();
		}

		@media ($desktop) {
			position: absolute;
			bottom: 0;
			left: 510px;
		}
	}
	// .contacts__foto
	&__foto {
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	// .contacts__purchases
	&__purchases {
		margin-top: 30px;

		@media ($desktop) {
			margin-top: 60px;
		}
		a {
			@include linkreset();
		}
	}
}
.purchases {
	// .purchases__caption
	&__caption {
		@include h2();
	}
	// .purchases__text
	&__text {
		@include h4();
		margin-top: 10px;
		
		@media ($desktop) {
			margin-top: 30px;
		}
	}
}
.btn_cont{
	@media (max-width: 1023.9px) and (min-width: 768px) {
		width: 100%;
	}
}