.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-height: 106px;
	padding: 30px 16px 23px;
	background-color: $mainColor;

	@media ($tablet) {
		padding: 15px 16px 0px;
		max-height: 125px;
	}
	// .header__logo
	&__logo {
		@media ($tablet) {
			flex: 0 0 331px;
		}
	}
	// .header__menu
	&__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		padding: 30px 16px 0 0;
		top: 0;
		right: -100%;
		width: 241px;
		border-radius: 10px 0 0 10px;
		overflow: auto;
		background-color: $mainColor;
		transition: all 0.3s ease 0s;

		@media ($tablet) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 0;
			top: auto;
			right: auto;
			width: 100%;
			border-radius: 0;
			background-color: transparent;
		}

		&.active {
			right: 0;
		}
	}
}

.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media($tablet){
		margin-right: 143px;
	}
	// .header-logo__link
	&__link {
	}
	// .header-logo__image
	&__image {
		display: inline-block;
		width: 60px;
		height: 54px;
		margin-right: 16px;
		@media ($tablet) {
			width: 106px;
			height: 93px;
		}
	}
	// .header-logo__text
	&__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 120%;

		@media ($tablet) {
			font-weight: bold;
			font-size: 18px;
			line-height: 120%;
		}
	}
}
.header-menu {
	order: 3;

	@media ($tablet) {
		order: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	// .header-menu__items
	&__items {
		@media ($tablet) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	// .header-menu__item
	&__item {
		@include p();
		text-align: right;
		margin-bottom: 10px;

		&:last-child{
			@media($tablet){
				margin-right: 0;
			}
		}

		@media ($tablet) {
			margin-bottom: 0;
			margin-right: 60px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// .header-menu__link
	&__link {
		@include linkreset();

		@media($tablet){
			@include h4();
			font-family: $mainFont;
		}
	}
	// .header-menu__socials
	&__socials {
	}
}

.socials {
	margin: 25px 0 30px 0;

	// .socials__link
	&__link {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	// .socials__img
	&__img {
	}
}

.header-features {
	margin: 0 0 30px 0;
	padding-top: 45px;
	order: 2;
	font-size: 1.4rem;
	line-height: 120%;
	color: $textColor;
	text-align: right;
	font-family: $mainFont;
	font-weight: bold;
	margin-bottom: 25px;

	@media($tablet){
		min-width: 237px;
		padding: 0;
	}

	// .header-features__location
	&__location {
		@include linkreset();
		display: block;
		cursor: pointer;
		margin-bottom: 10px;

		&::before {
			content: url("../images/icons/arrow.png");
			top: 0;
			left: 0;
			width: 10px;
			max-height: 10px;
			margin-right: 5px;
		}
	}
	// .header-features__tel
	&__tel {
		@include linkreset();
	}
}

.header-burger {
	display: block;
	position: absolute;
	top: 33px;
	right: 16px;
	width: 30px;
	height: 16px;
	cursor: pointer;
	order: 0;
	z-index: 3;
	span,
	&:after,
	&:before {
		position: absolute;
		left: 0;
		height: 10%;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	&:after,
	&:before {
		content: "";
	}
	&:after {
		top: 0;
	}

	&:before {
		bottom: 0;
	}
	span {
		top: 7px;
	}

	&.active {
		span {
			display: none;
		}
	}
	&.active::before {
		transform: rotate(45deg);
		bottom: 7px;
	}
	&.active::after {
		transform: rotate(-45deg);
		top: 7px;
	}

	@media ($tablet) {
		display: none;
	}
}

@media ($tablet) {
}
