.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-height: 106px;
	padding: 30px 16px 23px;
	background-color: $mainColor;

	@media ($tablet) {
		padding: 15px 16px 15px;
		max-height: 125px;
		align-items: center;
	}

	// .header__logo
	&__logo {
		@media ($tablet) {
			flex: 0 0 331px;
		}
		@media (max-width: 950px) and (min-width: 768px) {
			flex: 0 0 268px;
		}
	}
	// .header__menu
	&__menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: fixed; //fixed
		padding: 30px 16px 0 0;
		top: 0;
		right: -100%;
		width: 241px;
		border-radius: 10px 0 0 10px;
		// overflow: auto;
		background-color: $mainColor;
		transition: all 0.3s ease 0s;

		@media ($tablet) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 0;
			top: auto;
			right: auto;
			width: 100%;
			border-radius: 0;
			background-color: transparent;
		}

		&.active {
			right: 0;
		}
	}
}

.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	// @media ($tablet) {
	// 	margin-right: 143px;
	// }
	@media (max-width: 1170px) and (min-width: 610.2px) {
		margin-right: 20px;
	}
	@media (min-width: 1170.2px) {
		margin-right: 80px;
	}
	@media (min-width: 1220.2px) and (max-width: 1280px) {
		margin-right: 143px;
	}

	@media (min-width: 1279.9px) {
		margin-right: 143px;
	}
	// .header-logo__link
	&__link {
	}
	// .header-logo__image
	&__image {
		display: inline-block;
		width: 60px;
		height: 54px;
		margin-right: 16px;

		@media ($tablet) {
			width: 106px;
			height: 93px;
		}
	}
	// .header-logo__text
	&__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 120%;

		@media (max-width: 425px) and (min-width: 375px) {
			padding-right: 60px;
		}
		@media (max-width: 425.2px) and (min-width: 320.2px) {
			padding-right: 50px;
		}
		@media (max-width: 610px) and (min-width: 425.3px) {
			padding-right: 80px;
		}

		@media ($tablet) {
			font-size: 15px;
			line-height: 120%;
		}
		@media ($desktop) {
			font-size: 18px;
		}
		@media (max-width: 840px) and (min-width: 768px) {
			font-size: 16px;
			// text-align: center;
		}
	}
}
.header-menu {
	order: 3;

	@media ($tablet) {
		order: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	@media (max-width: 950px) and (min-width: 768px) {
		flex-direction: column;
	}

	// .header-menu__items
	&__items {
		@media ($tablet) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	// .header-menu__item
	&__item {
		@include p();
		text-align: right;
		margin-bottom: 10px;

		&:last-child {
			@media ($tablet) {
				margin-right: 0;
			}
		}

		@media ($tablet) {
			margin-bottom: 0;
			margin-right: 60px;
		}
		@media (max-width: 1070px) and (min-width: 767.9px) {
			margin-right: 10px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	// .header-menu__link
	&__link {
		@include linkreset();

		@media ($tablet) {
			@include h4();
			font-family: $mainFont;
		}
	}
	// .header-menu__socials
	&__socials {
	}
}

.socials {
	margin: 25px 0 30px 10px;
	@media (max-width: 950px) and (min-width: 767.9px) {
		margin: 0;
	}
	// .socials__link
	&__link {
		margin-right: 30px;
		@media (max-width: 950px) and (min-width: 767.9px) {
			margin-right: 5px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	// .socials__img
	&__img {
	}
}

.header-features {
	margin: 0 0 30px 0;
	padding-top: 45px;
	order: 2;
	font-size: 1.4rem;
	line-height: 120%;
	color: $textColor;
	text-align: right;
	font-family: $mainFont;
	font-weight: bold;
	margin-bottom: 25px;

	@media ($tablet) {
		min-width: 260px; //237
		padding: 0;
		margin: 0 0 15px 0px;
	}
	@media ($desktop) {
		margin: 0 0 15px 15px;
	}
	// .header-features__location
	&__location {
		@include linkreset();
		display: block;
		cursor: pointer;
		margin-bottom: 10px;

		// &::before {
		// 	content: url("../images/icons/arrow.png");
		// 	top: 0;
		// 	left: 0;
		// 	width: 10px;
		// 	max-height: 10px;
		// 	margin-right: 5px;
		// }
		@media ($tablet) {
			font-size: 18px;
			font-family: $mainFont;
			font-weight: 700;
			line-height: 21.6px;
		}
		@media (max-width: 950px) and (min-width: 767.9px) {
			font-size: 16px;
		}
	}
	// .header-features__tel
	&__tel {
		@include linkreset();

		@media ($tablet) {
			font-size: 18px;
			font-family: $mainFont;
			font-weight: 700;
			line-height: 21.6px;
		}
		@media (max-width: 950px) and (min-width: 767.9px) {
			font-size: 16px;
		}
	}
}

.header-burger {
	display: block;
	position: absolute;
	top: 33px;
	right: 16px;
	width: 30px;
	height: 16px;
	cursor: pointer;
	order: 0;
	z-index: 3;
	span,
	&:after,
	&:before {
		position: absolute;
		left: 0;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	&:after,
	&:before {
		content: "";
	}
	&:after {
		top: 0;
	}

	&:before {
		bottom: 0;
	}
	span {
		top: 7px;
	}

	&.active {
		span {
			display: none;
		}
	}
	&.active::before {
		transform: rotate(45deg);
		bottom: 7px;
	}
	&.active::after {
		transform: rotate(-45deg);
		top: 7px;
	}

	@media ($tablet) {
		display: none;
	}
}

@media ($tablet) {
}

/*СТИЛИЗАЦИЯ SELECT*/

.select {
	display: block;
	min-width: 215px;
	width: 100%;
	position: relative;
}

.new-select {
	display: inline-block;
	position: relative;
	/*     border: 1px solid #ced4da; */
	padding: 0px 0px 0 32px; //10 15
	cursor: pointer;
	user-select: none;
}

.new-select__list {
	position: absolute;
	top: 35px;//45
	left: 0;
	/*     border: 1px solid #ced4da; */
	cursor: pointer;
	width: 100%;
	z-index: 2;
	background: $mainColor;
	user-select: none;
	border-radius: 0 0 10px 10px;

	@media(max-width:768px){
		top:30px;
	}
}

.new-select__list.on {
	display: block;
	position: relative;
}

.new-select__item span {
	display: block;
	padding: 10px 15px;
}

.new-select__item span:hover {
	color: $thirdColor;
}

.new-select:after {
	content: "";
	display: block;
	width: 17px;
	min-height: 10px;
	position: absolute;
	left: 0;
	top: calc(50% - 5px);
	background: url("../images/icons/arrow.png") no-repeat center / contain;
	//  opacity: 0.6;

	-webkit-transition: all 0.27s ease-in-out;
	-o-transition: all 0.27s ease-in-out;
	transition: all 0.27s ease-in-out;

	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.new-select.on:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
