.prices {
	// .prices__human
	&__human {
		margin-bottom: 40px;
	}
	// .prices__caption
	&__caption {
		@include h2();
		margin-bottom: 10px;
	}
	// .prices__organisation
	&__organisation {
		@include h2();
		margin-bottom: 10px;
	}
	// .prices__options
	&__options {
		margin-top: 10px;
		@media ($tablet) {
			margin-top: 30px;
		}
	}

	&__sales {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 20px;

		@media ($tablet) {
			flex-direction: row;
			justify-content: start;
			align-items: center;
		}
		@media ($desktop) {
			align-items: center;
			margin-top: 30px;
		}
	}
	// .prices__sales-text
	&__sales-text {
		@include h4($align: left);
		font-family: $mainFont;
		flex: 1 1 25;
		// margin-top: 20px;

		@media ($tablet) {
			margin: 0px 30px 0px 0px;
		}

		&_conf {
			margin-top: 20px;
			@media ($tablet) {
				margin: 0px 30px 0px 30px;
			}
		}
	}
}

.coasts {
	background-color: #e9f1f3;
	border-radius: 10px;
	overflow: hidden;

	@media ($tablet) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: transparent;
	}
	@media (min-width: 1110px) {
		justify-content: space-between;
	}

	.coast {
		@media ($tablet) {
			margin-bottom: 10px;
			flex: 0 0 auto;
		}
	}
}

.tabwrap {
	margin: 0 -16px;

	border-radius: 10px;
	overflow: hidden;
	&_two {
		@media ($tablet) {
			border-radius: 10px 10px 0 0;
			overflow: hidden;
		}
	}
}

.firstTable {
	width: 100%;
	border-collapse: collapse;

	tr:nth-child(n) {
		background-color: $bgTable;

		&:first-child {
			background-color: $mainColor;
		}
	}
	&__trh {
		border-left: 16px solid $mainColor;

		-moz-background-clip: border;
		-webkit-background-clip: border;
		background-clip: border-box;

		-moz-background-clip: padding;
		-webkit-background-clip: padding;
		background-clip: padding-box;

		-moz-background-clip: content;
		-webkit-background-clip: content;
		background-clip: content-box;

		th:first-child {
			border-radius: 10px 0 0 0;

			border-left: 16px solid $mainColor;

			-moz-background-clip: border;
			-webkit-background-clip: border;
			background-clip: border-box;

			-moz-background-clip: padding;
			-webkit-background-clip: padding;
			background-clip: padding-box;

			-moz-background-clip: content;
			-webkit-background-clip: content;
			background-clip: content-box;
		}
		th:last-child {
			border-radius: 0 10px 0 0;
		}
	}
	td {
		text-align: left;
	}

	th {
		@include h4($align: center);
		font-family: $mainFont;
		font-weight: bold;
		text-align: left;
	}
	tr {
		@include h4($align: center);
		font-family: $mainFont;

		border-left: 16px solid $bgTable;

		-moz-background-clip: border;
		-webkit-background-clip: border;
		background-clip: border-box;

		-moz-background-clip: padding;
		-webkit-background-clip: padding;
		background-clip: padding-box;

		-moz-background-clip: content;
		-webkit-background-clip: content;
		background-clip: content-box;
	}
	tr > td:first-child {
		@include h4($align: center);
		font-family: $mainFont;
		font-weight: bold;
		text-align: left;
	}

	@media ($tablet) {
		display: none;
	}
}


.twotable {
	display: none;
	@media ($tablet) {
		display: flex;
		flex-direction: column;
		// .twotable__row
		&__row {
			flex: 1 1 20%;
			display: flex;
			justify-content: space-between;
			// .twotable__row_1
			&_1 {
				border-radius: 15px 15px 0px 0px;
				background-color: $mainColor;
				@include h3();
				font-family: $mainFont;
				padding: 6.7px 0;
			}
			// .twotable__row_2
			&_3 {
				background-color: $bgTable;
			}
			&_5 {
				background-color: $bgTable;
			}
			&_2 {
				padding: 8px 0;
			}
			&_4 {
				padding: 8px 0;
			}
			&_6 {
				padding: 8px 0;
			}
		}
		// .twotable__item
		&__item {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			@include h4();
			font-family: $mainFont;

			// .twotable__item_ferst
			&_ferst {
				@include h3();
				font-family: $mainFont;
			}
		}
		.dop {
			// margin: 0 auto;
			text-align: left;
			&_p {
				width: 90px;
			}
			&_p1 {
				width: 111px;
			}
		}
		span {
			color: transparent;
		}
	}
}
p.pl{
	width: 100%;
	display: inline-flex;
	justify-content:stretch;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
}