@import "./utils";
@import "./components";
@import "./layout";

section {
	padding: 0 15px;
}
.wrap {
	@include wrap();
	background-color: $mainColor;
}
.wrap_white {
	@include wrap();

	&-service{
		background: url(../images/serv.png) center/cover no-repeat;

		@media(min-width: 320px) and (max-width:768px){
			background: none;
		}
	}
	&-case{
		background: url(../images/case_pic.png) center/cover no-repeat;

		@media(min-width: 320px) and (max-width:768px){
			background: none;
		}
	}
}
.caption {
	@include h1();
	padding: 0 15px;
	text-align: center;
	margin: 40px 0 20px 0;

	@media ($tablet) {
		margin: 50px 0;
	}
	@media ($desktop) {
		margin: 60px 0;
	}
}
.container {
	width: 100%;
	min-width: 320px;
	max-width: 1310px;
	margin: 0 auto;
}
