@import "./utils";
@import "./components";
@import "./layout";
.wrap {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	background-color: $mainColor;
}
.container {
	width: 100%;
	min-width: 320px;
	max-width: 1310px;
	margin: 0 auto;
}
