@import "./utils";
@import "./components";
@import "./layout";

section {
	padding: 0 15px;
}
.wrap {
	@include wrap();
	background-color: $mainColor;
}
.wrap1 {
	@include wrap();
}
.container {
	width: 100%;
	min-width: 320px;
	max-width: 1310px;
	margin: 0 auto;
}
